<!-- <div class="row">
    <div class="w-25 position-relative">

    </div>
</div> -->
<div class="row" *ngIf="statesData && statesData.length > 0">
    <div class="col-12 p-0 position-relative">
        <div class="accordion-container position-absolute top-0 start-0 ps-2 pt-2">
            <div class="accordion" id="accordionExample">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingOne">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            Top (N) Plants
                        </button>
                    </h2>
                    <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                        data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <form ngForm="searchForm" (ngSubmit)="getSearchResult()">
                                <div class="row align-items-center">
                                    <div class="col-auto pe-0">
                                        Top
                                    </div>
                                    <div class="w-25">
                                        <label class="visually-hidden" for="specificSizeInputName">Name</label>
                                        <input type="text" [min]="1" class="form-control" [(ngModel)]="searchModel.numberOfPlants"
                                            name="numberOfPlants">
                                    </div>
                                    <div class="col-auto px-0">
                                        plants in
                                    </div>
                                    <div class="col">
                                        <label class="visually-hidden" for="specificSizeSelect">Preference</label>
                                        <select class="form-select" [(ngModel)]="searchModel.state" name="state">
                                            <option [value]="''" selected>All States</option>
                                            <option [value]="state.properties.alpha_code"
                                                *ngFor="let state of geoJsonData?.features">{{state.properties.name}}
                                            </option>
                                        </select>
                                    </div>
                                </div>
                                <div class="row align-items-center  mt-3">
                                    <div class="col-6">
                                        <button type="button" (click)="reset()" class="btn btn-secondary w-100">Reset</button>
                                    </div>
                                    <div class="col-6">
                                        <button type="submit" class="btn btn-success w-100">Search</button>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12">
                                        <app-bar-chart #barChart [data]="this.plants" (barClicked)="onChartClick($event)"></app-bar-chart>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="vh-100" leaflet [leafletOptions]="options" (leafletMapReady)="onMapReady($event)">
            <div *ngIf="geoJsonElement" [leafletLayer]="geoJsonElement"></div>
            <!-- <div *ngFor="let marker of plantsMarkers" [leafletLayer]="marker"></div> -->
        </div>
    </div>
</div>

<div #markerPopup style="width:280px" [hidden]="!showMarkerPopup">
    <h5>Plant Information</h5>
    <p class="d-block mb-1"><strong>Name: </strong>{{currentHoveredPlant?.name}}</p>
    <p class="d-block mb-1"><strong>Owner: </strong>{{currentHoveredPlant?.owner}}</p>
    <p class="d-block mb-1"><strong>County: </strong>{{currentHoveredPlant?.countyName}}</p>
    <p class="d-block mb-1"><strong>Units Count: </strong>{{currentHoveredPlant?.unitsCount}}</p>
    <p class="d-block mb-1"><strong>Generators Count: </strong>{{currentHoveredPlant?.generatorsCount}}</p>
    <p class="d-block mb-0"><strong>Annual Net Generation: </strong>{{currentHoveredPlant?.annualNetGeneration ??
        'None'}}
    </p>
</div>

<div #statePopup style="width:280px" [hidden]="!showStatePopup">
    <h5>{{currentHoveredStateTitle}}</h5>
    <p class="d-block mb-1"><strong>Total Plants: </strong>{{currentHoveredState?.totalPlants}}</p>
    <p class="d-block mb-1"><strong>Annual Net Generation: </strong>{{currentHoveredState?.annualNetGeneration}}</p>
    <p class="d-block mb-1"><strong>% of Annual Generation: </strong>{{currentHoveredState?.percentage | number
        :'0.2-2'}}%</p>
</div>